@tailwind base;
@tailwind components;
@tailwind utilities;

.prose div[data-rehype-pretty-code-fragment] pre {
  padding-left: 0;
  padding-right: 0;
}

/* add titles */
.prose div[data-rehype-pretty-code-title] {
  /* margin-bottom: 0.125rem; */
  margin-bottom: -1.5rem;
  border-radius: 0.375rem 0.375rem 0 0;
  @apply bg-blue-300;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  color: blue;
}

.prose div[data-rehype-pretty-code-fragment] code {
  display: grid;
}

div[data-rehype-pretty-code-fragment] span[data-line] {
  padding-left: 0.5rem;
  padding-right: 0.75rem;

  border-left-width: 4px;
  border-left-color: transparent;
}

div[data-rehype-pretty-code-fragment] span[data-highlighted-line] {
  @apply border-l-cyan-500;
  @apply bg-slate-900;
}

/* adjust block to accomodate preceding title */
.prose div[data-rehype-pretty-code-fragment] div[data-rehype-pretty-code-title]~pre {
  border-radius: 0 0 0.375rem 0.375rem;
}


/* add line numbers */
.prose code[data-line-numbers] {
  counter-reset: lineNumber;
}

.prose code[data-line-numbers] span[data-line]::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  display: inline-block;
  text-align: right;

  margin-right: 0.75rem;
  width: 1rem;
  @apply text-gray-400;
}
